certifi==2020.6.20
chardet==4.0.0
cliapp==1.20180812.1
click==8.1.2
cmdtest==0.32+git
cryptography==3.3.2
dbus-python==1.2.16
devscripts==2.21.3+deb11u1
distro-info==1.0
docopt==0.6.2
Flask==2.1.1
gpg===1.14.0-unknown
grip==4.6.1
httplib2==0.18.1
idna==2.10
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
Markdown==3.3.4
MarkupSafe==2.1.1
meson==0.56.2
numpy==1.19.5
path-and-address==2.0.1
pycurl==7.43.0.6
Pygments==2.7.1
PyGObject==3.38.0
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-debian==0.1.39
python-debianbts==3.1.0
python-magic==0.4.20
python-xlib==0.31
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.3.1
reportbug==7.10.3+deb11u1
requests==2.25.1
six==1.16.0
specan==0.0.0
ttystatus==0.38
ufw==0.36
unattended-upgrades==0.1
unidiff==0.5.5
unireedsolomon==1.0.5
urllib3==1.26.5
Werkzeug==2.1.1
xdg==5
youtube-dl==2021.6.6
zipp==3.8.0
